[submodule "Themes/Simply-Love"]
	path = Themes/Simply Love
	url = https://github.com/Simply-Love/Simply-Love-SM5.git
[submodule "extern/ixwebsocket"]
	path = extern/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket.git
[submodule "extern/mbedtls"]
	path = extern/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib.git
