[Desktop Entry]
Name=ITGmania
GenericName=Rhythm and dance game
TryExec=/usr/local/itgmania/itgmania
Exec=/usr/local/itgmania/itgmania
Terminal=false
Icon=/usr/local/itgmania/Data/icon.png
Type=Application
Categories=Game;ArcadeGame
Comment=A cross-platform rhythm video game.
