[Desktop Entry]
Encoding=UTF-8
Name=ITGmania
GenericName=Rhythm and dance game
TryExec=itgmania
Exec=itgmania
Terminal=false
Icon=stepmania-ssc
Type=Application
Categories=Application;Game;ArcadeGame
Comment=A cross-platform rhythm video game.
